<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright (c) Liango. All rights reserved.
  ~  The use and distribution terms for this software are covered by the
  ~  Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0.php)
  ~  which can be found in the file epl-v10.html at the root of this distribution.
  ~  By using this software in any fashion, you are agreeing to be bound by
  ~  the terms of this license.
  ~  You must not remove this notice, or any other, from this software.
  -->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
</web-app>